*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(179, 175, 175);
    background-size: cover;
}
nav img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
}
nav ul{
    flex: 50%;
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 30px;
}
nav a{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    padding: 10px;
}
nav a:hover{
    color: white;
    background-color: rgb(57, 55, 55);
    border-radius: 10px;
    transition: 1s;
}
nav button{
    float: right;
    margin: auto 20px;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}
.body{
    width: 50%;
    padding: 20px;
    margin: 10px auto;
    background-color:transparent;
}
.body h1{
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
form{
    height: auto;
}
.body label{
    margin: 10px 3px;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
input, select, textarea{
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(234, 230, 230);
    border-radius: 7px;
    box-sizing: border-box;
    margin: 6px;
    box-shadow: 3px 3px gainsboro;
    resize: none;
}
button{
    color: white;
    background-color: black;
    padding: 8px 25px;
    border: none;
    border-radius: 10px;
    margin-top: 35px;
    font-size: 15px;
    cursor: pointer;
    float: right;
}
nav button:hover, button:hover{
    background-color: grey;
}